.login-page {
  font-size: 1em;
  margin: 10% auto;
  width: 40%;
  max-width: 400px;
  -webkit-box-shadow: 0 8px 24px rgba(21,48,142,0.14);
  box-shadow: 0 8px 24px rgba(21,48,142,0.14);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.login-form {
  padding: 2em;
}

.login-btn {
  width: 100%;
}

@media only screen and (max-width: 750px) {
  .login-page {
    width: 80%;
  }
}